@model IEnumerable<Proyecto_Final.Models.Juego>

@{
    ViewData["Title"] = "Juegos";
}
<div style="text-align:center;">
    <h1>Catálogo de Juegos</h1>
</div>
<hr />
<div class="juegos-grid">
    @foreach (var juego in Model)
    {
        <div class="juego-card">
            <img src="@Url.Content(juego.ImagenUrl)" alt="Imagen de @juego.Nombre" class="juego-imagen" />
            <h2 class="juego-nombre">@juego.Nombre</h2>
            <p class="juego-descripcion">@juego.Descripcion</p>
            <p><strong>Género:</strong> @juego.Genero</p>
            <p><strong>Precio:</strong> Usdt$@juego.Precio</p>
            <p><strong>Desarrolladora:</strong> @juego.Desarrolladora</p>

            @if (Context.Session.GetString("rol") == "Admin" || Context.Session.GetString("rol") == "Usuario")
            {
                <div class="botones-container">
                    <a asp-action="BuyNow" asp-controller="Home" asp-route-id="@juego.IdJuegos" class="btn-comprar">Comprar</a>
                </div>
            }
            else
            {
                <p>Por favor, inicie sesión para comprar.</p>
            }


        </div>
    }
</div>


<style>
    .juegos-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 20px;
        margin-top: 20px;
        justify-items: center; /* Centra las tarjetas en el grid */
    }

    .juego-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #f3fb8a;
        text-align: center; /* Centra el contenido del card */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; /* Asegura que las tarjetas sean del mismo tamaño */
    }

    .juego-imagen {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .juego-nombre {
        font-size: 1.25em;
        margin: 10px 0;
        color: #333;
    }

    .juego-descripcion {
        font-size: 0.9em;
        color: #666;
        margin: 10px 0;
    }

    .juego-card p {
        margin: 5px 0;
        font-size: 0.95em;
    }

    .btn-comprar {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none; /* Elimina el subrayado */
        transition: background-color 0.3s ease;
    }

        .btn-comprar:hover {
            background-color: #45a049;
        }

    .botones-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: auto; /* Empuja el contenedor hacia abajo */
    }
</style>
